:root {
  --accent: #ec6e4d;
  --background-light: #f1f1f1;
  --background-dark: #100e1c;
  --gray: #48484a;
  --gray-6d: #6d6d6d;
  --gray-d3: #d3d3d3;
  --hint: #acacac;
  --light-gray: #e6e6e6;
  --panel-light: #fff;
  --panel-dark: #212331;
}
